body{
    background : gray;
}
form{
	background: cyan;
	width: 40%;
	height: 40%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
input{
	position: relative;
	top: 50px;
	display: block;
	height: 40px;
	margin: 0 auto;
}
